# Node
app/node_modules/
app/dist/
app/npm-debug.log*

# Android build outputs
app/android/app/build/
app/android/build/
app/android/.gradle/
app/android/captures/
app/android/local.properties
app/android/*.iml
app/android/.idea/

# macOS
.DS_Store
